{% extends "base.html" %}
{% load static %}


{% block content %}
	<div class="content-section-b">
		<div class="container">		
			<div class='row' >
				<h2 class="section-heading">Who we are...</h2></br>
                <p class="lead">It all started when a guy named Levi thought it would be cool to be able to broadcast amateur sports live so that friends and
				family could all watch while it was actually happening instead of days later on Youtube.</p>
			</div>
		</div>
	</div>
{% endblock %}