{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="intro-header">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Upcoming Broadcasts</h1>
                        <h3>Below are all current and upcoming broadcasts.</h3>
                        <hr class="intro-divider">    
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

	    <div class="content-section-a">

        <div class="container">
			<hr>
            <div class="row">				
                <div class="col-lg-5 col-sm-6">                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="{% url 'selected_broadcast' %}">The Mighty Ducks vs. The Rangers at 3:00pm est</a></h2>
                    <p class="lead">This should be a good game since both are good teams.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a href="{% url 'selected_broadcast' %}"><img class="img-responsive" width='250' src="{% static 'img/ipad.png' %}" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
	
{% endblock %}