{% extends "base.html" %}
{% load static %}



{% block content %}
<style>
	.selected-game-heading{
		text-align: center ;
	}

	.margin-bottom-none{
		margin-bottom:0px;
	}

		.underline{
			text-decoration:underline;
		}
</style>
	    <div class="content-section-b">

        <div class="container">
			<div class='row selected-game-heading' >
				<h2 class="section-heading margin-bottom-none">The Mighty Ducks vs. The Rangers at 3:00pm est</h2></br>
                <p class="lead margin-bottom-none">This should be a good game since both are good teams.</p></br>

			</div>
			<hr>
            <div class="row">				
                <div class="col-sm-2">   
					<img class='col-xs-12' src="{% static 'img/ducks.jpg' %}">
                    <h2 class="section-heading margin-bottom-none"><a href='#'>The Mighty Ducks</a></h2>
					<h2>3</h2>
					<h3 class='underline' >Roster</h3>
                    <p class="lead">Player 1</p>
					<p class="lead">Player 2</p>
					<p class="lead">Player 3</p>
					<p class="lead">Player 4</p>
					<p class="lead">Player 5</p>
                </div>
                <div class="col-sm-8">
                    <iframe class='col-xs-12' width="720" height="437" src="http://www.ustream.tv/embed/15274139?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
                </div>
				<div class="col-sm-2">   
					<img class='col-xs-12' src="{% static 'img/nyr.jpg' %}">
                    <h2 class="section-heading  margin-bottom-none"><a class=' margin-bottom-none' href='#'>The NY Rangers</a></h2>
					<h2>1</h2>
					<h3 class='underline' >Roster</h3>
                    <p class="lead">Player 1</p>
					<p class="lead">Player 2</p>
					<p class="lead">Player 3</p>
					<p class="lead">Player 4</p>
					<p class="lead">Player 5</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


{% endblock %}