{% extends "base.html" %}
{% load static %}


{% block content %}
	<div class="content-section-b">
		<div class="container">		
			<div class='row' >
				<h2 class="section-heading">Sports we broadcast</h2></br>
                <p class="lead">Below is a list of all the different sports we broadcast, and we have many more coming soon! If you would like us to broadcast 
				your event please shoot us an email at LeviMcDonough@gmail.com and we will get back to you.</p>
			</div>
			<div class='row'>
				<h3><a href='#'>Baseball</a></h3>
				<h3><a href='#'>Soccer</a></h3>
				<h3><a href='#'>Swimming</a></h3>
				<h3><a href='#'>Figure Skating</a></h3>
			</div>
		</div>
	</div>
{% endblock %}